<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Holosys_Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Holosys_Client.My.MySettings>
            <setting name="HolosysVersion" serializeAs="String">
                <value>0.0.1.0</value>
            </setting>
        </Holosys_Client.My.MySettings>
    </applicationSettings>
</configuration>
